@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'iransansxv';
    src: url('/fonts/iransansxv.woff') format('woff-variations'),
        /* will be the standard and works in Safari now */ url('/fonts/iransansxv.woff') format('woff');
    /* for the other supporting browsers */
    font-weight: 100 900;
    font-display: fallback;

}

body {
    @apply font-iransansxv;
}

/* Change scroolbar style ***********************************************************************************************/
/*https://www.geeksforgeeks.org/how-to-change-style-of-scrollbar-using-tailwind-css/*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/**************************************************************************************************/